<h1>Pirate</h1>

<div class="pirate">
  <label>Name: <%= @pirate.name%></label> <br>
  <label>Weight: <%= @pirate.weight%> pounds</label> <br>
  <label>Height: <%= @pirate.height%> inches</label>
  </div><br>

<h2>Ships</h2>
<% @ships.each do |ship| %>
    <div class="ship">
      <label>Name: <%= ship.name %> </label> <br>
      <label>Type: <%= ship.type %> </label> <br>
      <label>Booty: <%= ship.booty %> </label> <br>
      </div><br>
      <%end%>


   </div><br>
